.cart-layout{
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
   
}

.orders{
    padding: 10px;
    background-color: #fff; 
    border: 2px solid #ededed;   
  
}
h3{
    padding-left: 20px;
}
.summary{
    padding: 10px;
    /* background-color: red; */
     border: 2px solid #ededed;
     box-shadow: 10px 10px 10px 10px #ededed;
}

.order-summary{
    /* width: 0.9fr; */
    height: 600px;
    display: grid;
    grid-template-rows: 300px 300px;
}
h1{
    font-size: 30px;
}

.total{
    padding-top: 0px;
    width: 0.9fr;
    text-align: center;
    font-size: 40px;
}

.order-btn{
    padding-top: 0px;
    display: flex;
    align-items: end;
}

button{
   width: 440px;
}

.order-1{
    padding: 10px;
    height: 170px;
    width: 100%;
    border: 2px solid #ededed;
    display: flex;
    gap: 10px;
}

.order-1:hover{
    box-shadow: 10px 10px 10px 10px #ededed;
}

.img{
    width: 200px;
    height: 150px;
    background-color: red;
    border-right: 2px solid #ededed;
}

#cart-order-img{
    width: 200px;
    height: 150px;
    
}
.abcd{
    width: 200px;
    height: 150px;
}

.product-name{
    font-size: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

h1{
    padding-left: 20px;
}

#order-btn{
    background: #D4A937;
    color: #FFFFFF;
}

.add-remove-btns{
    display: flex;
    padding: 10px;
    width: 100px;
    gap: 7px;
}