.HomePage{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.Category{
    border-right: 1px solid #ededed;
    /* border-right: 1px solid black; */
    padding-top: 10px;
    text-align: center;
    
}

.Products{
    padding-left: 50px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

li{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: black;
}

.HomePagePart{
    padding: 50px;
}