.product-list{
  /* display: flex;
  flex-wrap: wrap;
  gap: 16px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}


.product-list > *{
  flex: 1 1 240px;
  max-width: 100%;
}


.list{
  width: 100%;
  min-width: 0;
}