.buttons{
    display: flex;
    gap: 10px;
}
button{
    border: 2px solid black;
    padding: 10px;
}

.recommended{
    padding-left: 40px;
    padding-top: 10px;
}

h1{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 7px;
}
